MYSQL_ROOT_PASSWORD=change-this-db-password
MYSQL_DATABASE=campcloud

JWT_SECRET=change-this-jwt-secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://192.168.1.47
SWAGGER_ENABLED=false
RUN_SEED=false

FRONTEND_PORT=80
VITE_API_BASE_URL=/api/v1
OSS_BUCKET=radyn-aicampcloud-file
OSS_ENDPOINT=oss-cn-shanghai.aliyuncs.com
OSS_ACCESS_KEY_ID=replace-with-access-key-id
OSS_ACCESS_KEY_SECRET=replace-with-access-key-secret
OSS_UPLOAD_URL_EXPIRES_SECONDS=900
OSS_DOWNLOAD_URL_EXPIRES_SECONDS=600
