@ViewerSiderOrViewerContentHeight: calc(100vh - 60px);

.Viewer {
  width: 100vw;
  height: 100vh;

  .ViewerHeader {
    width: 100%;
    height: 60px;
    padding: 10px;
    padding-left: 50px;
    line-height: normal;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-between;

    .leftContainer {
      height: 40px;
      display: flex;

      .backBtn {
        margin-right: 5px;
        background-color: #7f889a;
      }
    }

    .toolsMenu {
      display: flex;

      .btnContainer {
        width: 40px;
        height: 40px;
        padding: 9px; // (40 - 22) / 2
        cursor: pointer;
        color: #fff;

        .iconContainer {
          font-size: 22px;
        }
      }

      .btnContainer:hover,
      .isSelected {
        color: rgb(111, 165, 235);
      }

      .DwArrowBtn {
        width: 60px; // btnContainer 40 + 下拉按钮 20
        padding-top: 5px;
      }

      // Dropdown.Button 的下拉按钮
      .ant-btn-icon-only {
        width: 20px;
        margin-top: 5px;
      }

      .popMenu {
        position: absolute;
        top: 54px; // ViewerHeader height:54px;
        left: 0;
        width: 100vw;
        // 为实现下拉过渡效果，height由元素内的style属性控制
        padding: 0 20px;
        display: flex;
        background: #19191a;
        z-index: 999;
        transition: 0.3s;
        overflow: hidden;
      }
    }

    .productName {
      color: #7f889a;
      font-size: 30px;
      font-weight: bold;
    }

    .logo {
      width: 150px;
      height: auto;
    }
  }

  .ViewerSider {
    height: @ViewerSiderOrViewerContentHeight;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #000;

    .ant-layout-sider-children {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    /* 滚动条整体宽度 */
    .ant-layout-sider-children::-webkit-scrollbar {
      width: 18px;
    }

    /* 滚动条滑块 */
    .ant-layout-sider-children::-webkit-scrollbar-thumb {
      background-color: #163239;
      /* 滑块颜色 */
      border-radius: 10px;
      /* 滑块圆角 */
      border: 2px solid transparent;
      /* 滑块边框，设置为透明 */
      background-clip: content-box;
      /* 确保边框不会增加滑块的总宽度 */
    }

    /* 滚动条轨道 */
    .ant-layout-sider-children::-webkit-scrollbar-track {
      background: #000;
      /* 轨道颜色 */
      border-radius: 10px;
      /* 轨道圆角 */
    }

    /* 滚动条在hover时的样式 */
    .ant-layout-sider-children::-webkit-scrollbar-thumb:active {
      background-color: #20a5d6;
      /* 滑块hover时的颜色 */
    }

    /* 滚动条按钮（上下箭头）的样式，不过通常这些按钮默认不显示 */
    .ant-layout-sider-children::-webkit-scrollbar-button {
      display: none;
      /* 隐藏滚动条按钮 */
    }

    /* 滚动条两端的小方块（可以点击来快速滚动） */
    .ant-layout-sider-children::-webkit-scrollbar-corner {
      background: #000;
      /* 小方块颜色 */
    }

    .ViewerSiderItem {
      width: 100%;
      height: 220px;
      margin-top: 10px;
      border: 1px solid #0069a7;
      border-radius: 8px;
      transition: 0.2s;
      cursor: pointer;
      color: #fff;

      .Viewport {
        width: 100%;
        height: 176px;
        border: none;
      }
    }

    .ViewerSiderItem:hover {
      border: 1px solid #1f9dcc;
    }
  }

  .ViewerContent {
    height: @ViewerSiderOrViewerContentHeight;
    padding: 10px;
    background-color: #000;

    .viewportGrid {
      height: 100%;
      display: grid;
      grid-gap: 10px;
      background-color: #000;

      .Viewport {
        position: relative;

        .dcmIndexContainer {
          position: absolute;
          top: 10px;
          left: 10px;
          color: #fff;
          font-size: 16px;
        }

        .scroll {
          height: 100%;
          padding: 5px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 999;

          .scroll-holder {
            height: calc(100% - 20px);
            margin-top: 5px;
            position: relative;
            width: 12px;

            .imageSlider {
              height: 12px;
              left: 12px;
              padding: 0;
              position: absolute;
              top: 0;
              transform: rotate(90deg);
              transform-origin: top left;
              background-color: rgba(0, 0, 0, 0);
            }

            .imageSlider::-webkit-slider-thumb {
              -webkit-appearance: none !important;
              background-color: #163239;
              border: none;
              border-radius: 57px;
              cursor: -webkit-grab;
              height: 12px;
              margin-top: -4px;
              width: 39px;
              cursor: pointer;
            }

            .imageSlider::-webkit-slider-thumb:active {
              background-color: #20a5d6;
              cursor: -webkit-grabbing;
            }

            input {
              appearance: none;
            }
          }
        }

        .CinePlayer {
          width: 180px;
          height: 40px;
          padding: 7px 10px;
          background-color: #000;
          border: 1px solid #0069a7;
          border-radius: 4px;
          color: #fff;
          position: absolute;
          bottom: 30px;
          left: 50%;
          right: 50%;
          transform: translateX(-50%);

          .container {
            height: 24px;
            line-height: 24px;
            display: flex;
            justify-content: space-between;

            .btn {
              width: 24px;
              transition: 0.3s;
              text-align: center;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
            }

            .btn:hover {
              background-color: rgba(255, 255, 255, 0.1);
              color: #0069a7;
            }

            .FPS {
              width: 110px;
              height: 24px;
              display: flex;
              justify-content: space-between;
              cursor: pointer;
              user-select: none;
            }
          }
        }

        .dcmInfo {
          position: absolute;
          color: #fff;
          font-size: 16px;
        }

        .leftTop {
          left: 10px;
          top: 34px;
        }

        .rightTop {
          right: 10px;
          top: 10px;
          text-align: right;
        }

        .leftBottom {
          left: 10px;
          bottom: 10px;
        }

        .rightBottom {
          right: 10px;
          bottom: 10px;
          text-align: right;
        }
      }

      .activeViewport {
        border: 1px solid #1ab5ed;
      }
    }
  }
}

// DwArrowBtn组件中的下拉菜单项，因此部分不在root根元素下，故需放在这里
.dropdownItem {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
}

// 布局按钮的布局选择器
.LayoutSelector {
  display: grid;

  div {
    box-sizing: border-box;
    border: 1px solid #fff;
  }
}

// Viewport 通用样式
.Viewer {
  .Viewport {
    border: 1px solid #0069a7;
    border-radius: 8px;
    transition: 0.2s;
    position: relative;

    .element {
      width: 100%;
      height: 100%;
    }
  }

  .Viewport:hover {
    border: 1px solid #1f9dcc;
  }
}

.Slider {
  width: 120px;
}